
*{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


.header {
  /* Understanding: we have given the header a flexbox which allows me to place all the text on the same line. Space-between lets me stick my name to the left and the nav to the right */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 0 ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(27, 63, 64);
}

h1 {
font-size: 48px;
color: rgb(27, 63, 64);
background-color: rgb(251,239, 225);
margin: 20px 0;
padding: 0 5px 0 50px;
}

h2{
font-size: 50px;
text-align: end;
/* Width:min-content will take the minimum width of the content and apply it */
width: min-content;
float: right;
padding-right: 30px;
color: rgb(27, 63, 64);
}

h3{
font-size: 50px;
}

h4{
font-size: 30px;
color:rgb(251,239, 225);
}

span{
color: rgb(251,239, 225);
}

footer{
  background-color:rgb(27, 63, 64);
  text-align: center;
  padding: 10px;
}


/******************************************
/* Navigation
/*******************************************/
.nav {
display: flex;
justify-content: right;
padding-top: 15px;
margin-right: 20px;
font-size: 20px;
}

.nav ul {
    /* Understanding: new flexbox needed creating in order for me to give space between the lists */
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav ul li{
  padding-left: 30px;
}

.nav > ul> li> a {
color: rgb(251,239, 225);
text-underline-position: below;
text-underline-offset: 8px;
}

.nav > ul> li> a:hover{
  background-color: rgb(251,239, 225);
  color:rgb(27, 63, 64);
  padding: 3px;
  }
  
  /******************************************
/* Hero
/*******************************************/

.herobanner{
  height: 200px;
  background-image: url(../assets/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

#headline {
  background-color: rgb(27, 63, 64);
  max-width: 300px;
  align-self: flex-end;
  margin: 30px;
} 

/* understanding: when using selectors if there is a space between element names it can be anywhere inside the initial element, with the > it must be a direct child of the first named element it cannot be a grand-child etc */
#headline > h3{
  color: rgb(251,239, 225);
  padding: 5px 20px 5px 20px;
  font-size: 25px;
}


/******************************************
/* MAIN GRID
/*******************************************/

#mainGrid {
  display: grid;
  grid-template-rows: 200PX 1fr 200px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "about about-content"
  "work image"
  "contact contact-info"
  ;
  gap: 40px;
  padding: 20px;
}

#about {
  grid-area: about;
}

.about-content{
  grid-area: about-content;
}

#work {
  grid-area: work;
}


#contact {
  grid-area: contact;
}

#about, #work, #contact{
  border-right: 4px solid rgb(27, 63, 64);
}


/* below is code to improve look and feel of the contact info */
.contact-info{
  grid-area: contact-info;
  width: 100%;
  padding: 0;
  margin: auto;
}

.contact-info ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.contact-info > ul> li> a {
  color: rgb(27, 63, 64);
  text-underline-position: below;
  text-underline-offset:8px;
  font-weight: bold;
}




/******************************************
/* PROJECT GRID
/*******************************************/
#workGrid {
grid-area: image;
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
  "P1 P1"
  "P1 P1"
  "P2 P3"
  "P4 P5"
  ;
  gap: 10px;
  object-fit: cover;
}
.project1{
  grid-area: P1;
  background-image: url(../assets/horieon\ 2.png);
}

.project2{
  grid-area: P2;
  background-image: url(../assets/02-portfolio-2.jpg);
}
.project3{
  grid-area: P3;
  background-image: url(../assets/02-portfolio-3.jpg);
}
.project4{
  grid-area: P4;
  background-image: url(../assets/02-portfolio-4.jpg);
}
.project5{
  grid-area: P5;
  background-image: url(../assets/02-run-buddy.jpg);
}

/* code below shows project grid styling  */

.project1, .project2, .project3, .project4, .project5{
  position: relative;
  width: 100%;
  border: 5px solid rgb(27, 63, 64);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.project-text{
  background-color:rgb(27, 63, 64);
  width: fit-content;
  padding: 10px;
  margin-bottom: 30px;
  z-index: 2;
}

.style{
  display: flex;
  align-items: flex-end;
  height: 100%;
  transition: all ease-in-out;
}


/* how to add a hover, tint and grow to the images in portfolio grid. */


.overtint {
  position:absolute;
  background-color: rgba(27, 63, 64, 0.6);
  width:100%; 
  height:100%;
}

.project1> .overtint + div{
  z-index: 2;
}

a:hover .overtint { 
  opacity: 0;
  transition-duration: .5s;
}


#workGrid a:hover{
  transform: scale(1.01);
}




/******************************************
/* Media
/*******************************************/



 @media only screen and (max-width: 769px) {
  

/*________h1, h2, nav and herobanner ________*/
  h1 {
    font-size: 48px;
    text-align: center;
    color: rgb(27, 63, 64);
    background-color: rgb(251,239, 225);
    width: 100%;
    margin-top: 0;
    }

  .header {
    text-align: center;
    flex-direction: column;
    padding: 0px;
  }

  .nav{
     margin: 0;
  }

  .nav ul {
     flex-direction: row;
     padding: 0;
   }
  
   
  h2{
    font-size: 50px;
    text-align: center;
    width: max-content;
    float: none;
    padding-right: 0;
    color: rgb(27, 63, 64);    
    }

 #headline{
  text-align: center;
  flex-direction: column;
 }

/* ________ Main grid ________ */

  #mainGrid {
     display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "about"
    "about-content"
    "work"
    "image"
    "contact"
    "contact-info";
    gap: 40px;
    padding: 10px;
  }
  #about, #work, #contact{
    border: none;
    border-bottom: 4px solid rgb(27, 63, 64);
  }

/* ________ project grid ________ */

  #workGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "P1"
    "P2"
    "P3"
    "P4"
    "P5";
   }

    /* code below shows project grid styling  */    
    .project1, .project2, .project3, .project4, .project5{
      border: 5px solid rgb(27, 63, 64);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      text-decoration: none;
    }
     
    .project-text{
      padding: 10px;
      margin: 30px 0 15px 0;
    }
     

/*________ contact ________*/


    .contact-info{
      text-align: left;
      align-content: space-between;
    }
    
    .contact-info ul{
      flex-direction: column;
      row-gap: 15px;
    }
  }


  .contact-info > ul> li> a {
    color: rgb(27, 63, 64);
    text-underline-offset:8px;
    font-weight: bold;
  }



  @media only screen and (max-width: 979px) {
  

    /*________ h1, h2, nav and herobanner ________*/
      h1 {
        font-size: 48px;
        text-align: center;
        color: rgb(27, 63, 64);
        background-color: rgb(251,239, 225);
        width: 100%;
        margin-top: 0;
        }
    
      .header {
        text-align: center;
        flex-direction: column;
        padding: 0px;
      }
    
      .nav{
         margin: 0;
      }
    
      .nav ul {
         flex-direction: row;
         padding: 0;
       }
      
       
      h2{
        font-size: 50px;
        text-align: center;
        width: max-content;
        float: none;
        padding-right: 0;
        color: rgb(27, 63, 64);    
        }
    
    /*________ Main grid ________*/
    
      #mainGrid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "about"
        "about-content"
        "work"
        "image"
        "contact"
        "contact-info";
        gap: 40px;
        padding: 10px;
      }
      #about, #work, #contact{
        border: none;
        border-bottom: 4px solid rgb(27, 63, 64);
      }
    
    /*________project grid ________*/
    
      #workGrid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "P1"
        "P2"
        "P3"
        "P4"
        "P5";
       }
    
        /* code below shows project grid styling  */    
        .project1, .project2, .project3, .project4, .project5{
          border: 5px solid rgb(27, 63, 64);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          text-decoration: none;
        }
         
        .project-text{
          padding: 10px;
          margin: 30px 0 15px 0;
        }
  }